*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    /* background-color: gray; */
}

.container{
    width: 400px;
    height: min-content;
    background-color: whitesmoke;
    /* background:linear-gradient(grey,whitesmoke ) ; */
    border-radius: 12px;
    padding: 28px;
    box-shadow: gray 10px 10px 20px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search-box input{
    width: 84%;
    font-size: 20px;
    color: black;
    background-color: skyblue;
    padding:12px 16px;
    border-radius: 14px;
    border: solid 2px grey;
    text-transform: capitalize;
}
.search-box input::placeholder{
    
    text-align: center;
}
.search-box button{
    width: 46px;
    height: 46px;
    background-color: skyblue;
    border-radius: 50px;
    cursor: pointer;
    font-size: 25px;
    
}
.search-box button:hover{
    color: #fff;
    background-color: gray;
    
}
.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block:20px ;
}
.weather-body img{
    width: 60%;
    
}

.weather-box{
    margin-block: 20px;
    text-align: center;  
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 33px;
}
.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.location-not-found h1{
    font-size: 20px;
    color: grey;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}